* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Bakbak One', sans-serif;
}

/* Navbar */
.navbar {
  background-color: #302D2D;
  padding: 20px 0;
  width: 1315px;
  height: 147px;
  margin: 40px auto 0; /* Bajarlo del top */
  box-shadow: 0 4px 10px rgba(0,0,0,0.4);
  z-index: 10;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo img {
  width: 288px;
  height: 87px;
}

.nav-menu {
  display: flex;
  gap: 35px;
  list-style: none;
}

.nav-item {
  text-decoration: none;
  color: white;
  font-size: 32px;
  transition: color 0.3s ease;
}

.nav-item:hover {
  color: #888; /* Efecto al pasar el mouse */
}

.cart {
  background-color: white;
  border-radius: 50%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 58px;
  width: 58px;
}

.cart img {
  height: 38px;
  width: 38px;
}

.slider {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1;
  overflow: hidden;
}

.slider-wrapper {
  height: 100vh;
}

.content {
  position: relative;
  z-index: 1;
  background-color: black;
  margin-top: 0;
  padding-top: 80px; /* para dar respiro después del slider */
}

.slider-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  z-index: 1;
}

.slider-img.active {
  opacity: 1;
  z-index: 2;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.4);
  border: none;
  padding: 8px;
  cursor: pointer;
  z-index: 5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 1s ease, transform 0.5s ease;
}

.arrow:hover {
  background: rgba(255, 255, 255, 0.2);
}

.left {
  left: 20px;
}

.right {
  right: 20px;
}

.content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 80px;
  padding: 100px 40px;
  background-color: black;
  flex-wrap: wrap;
}

.card {
  text-align: center;
  max-width: 660px;
}

.card-title {
  color: white;
  font-family: 'Bakbak One', sans-serif;
  font-size: 20px;
  margin-bottom: 20px;
  text-decoration: none;
  font-weight: normal;
}

.card-img {
  width: 100%;
  height: auto;
  border-radius: 73px;
  max-width: 100%;
}

h2, .card-title {
  text-decoration: none;
}

.card.lanzamiento {
  margin-top: 80px;
}
.card.spotify img {
  width: 531px;
  height: 742px;
}
.card.lanzamiento img {
  width: 660px;
  height: 551px;
}

/*Discografía*/

.discografia {
  background-color: black;
  padding: 80px 40px;
  text-align: center;
}

.discografia-title {
  font-family: 'Bakbak One', sans-serif;
  font-weight: normal;
  font-size: 32px;
  line-height: 1;
  letter-spacing: 0;
  text-align: center;
  color: white;
  margin-bottom: 40px;
}

.slider-discos-container {
  overflow: hidden;
  width: 100%;
  padding: 0;
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

.slider-discos-track {
  display: flex;
  width: calc(274px * 14 + 40px * 13);
  gap: 40px;
  animation: scrollDiscos 60s linear infinite;
}

.disco {
  flex: 0 0 274px;
  text-align: center;
}

.disco img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.disco p {
  color: white;
  margin-top: 10px;
  font-family: 'Bakbak One', sans-serif;
}

@keyframes scrollDiscos {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-274px * 7 - 40px * 7));
  }
}

.videos-destacados {
  background-color: #302D2D;
  padding: 40px 40px;
  text-align: center;
}

.videos-title {
  font-family: 'Bakbak One', sans-serif;
  font-size: 32px;
  font-weight: normal;
  color: #FFFBFB;
  margin-bottom: 40px;
}

.videos-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(274px, 1fr));
  gap: 40px;
  max-width: 1300px;
  margin: 0 auto;
}

.video-box {
  width: 100%;
  aspect-ratio: 1 / 1;
  background-color: #D9D9D9;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.video-box iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.integrantes {
  background-color: black;
  padding: 80px 40px;
  display: flex;
  justify-content: center;
  gap: 80px;
  flex-wrap: wrap;
  text-align: center;
}

.foto-integrante {
  width: 221px;
  height: 221px;
  object-fit: cover;
}

.nombre-integrante {
  width: 227px;
  height: 45px;
  font-family: 'Bakbak One', sans-serif;
  font-size: 18px;
  color: #FFFBFB;
  margin: 12px auto 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.instagram img {
  width: 32px;
  height: 32px;
  filter: invert(1); /* icono blanco */
  transition: transform 0.3s ease;
}

.instagram img:hover {
  transform: scale(1.1);
}



.slider-gira {
  width: 100%;
  overflow: hidden;
  background-color: black;
}

.gira-track {
  display: flex;
  animation: slideGira 20s linear infinite;
  gap: 40px;
}

.gira-track img {
  width: 1469px;
  height: 694px;
  object-fit: cover;
  flex-shrink: 0;
  border-radius: 20px;
}

@keyframes slideGira {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-1469px - 40px));
  }
}

/**MERCH**/

.slider-merch {
  background: black;
  overflow: hidden;
  padding: 150px 0;
}

.merch-title {
  font-family: 'Bakbak One', sans-serif;
  font-size: 28px;
  font-weight: normal;
  color: white;
  text-align: center;
  margin-top: 80px;
  margin-bottom: 80px;
}

.merch-track {
  display: flex;
  gap: 40px;
  animation: slideMerch 60s linear infinite;
  width: max-content;
  padding: 0 10vw;
}

@keyframes slideMerch {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc((-369px + -40px) * 6));
  }
}

.merch-item {
  background-color: #D9D9D9;
  width: 369px;
  height: 655px;
  border-radius: 72px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 20px;
  box-sizing: border-box;
  flex-shrink: 0;
}

.merch-item img {
  width: 290px;
  height: 410px;
  border-radius: 54px;
  object-fit: cover;
}

.merch-text {
  width: 326px;
  height: 50px;
  font-family: 'Bai Jamjuree', sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  margin: 20px 0;
}

.btn-comprar {
  width: 115px;
  height: 59px;
  border-radius: 185px;
  background: white;
  color: black;
  font-family: 'Bakbak One', sans-serif;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.btn-comprar span {
  width: 83px;
  height: 26px;
  text-align: center;
}

@media (max-width: 768px) {
  .gira-track img,
  .merch-item {
    width: 90vw;
    height: auto;
  }

  .merch-track {
    animation-duration: 40s;
  }
}

.beneficios {
  background-color: #D9D9D9;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 40px 20px;
  flex-wrap: wrap;
}

.beneficio {
  display: flex;
  align-items: center;
  gap: 20px;
}

.icono-beneficio {
  width: 125px;
  height: 125px;
}

.texto-beneficio p {
  font-family: 'Bakbak One', sans-serif;
  font-size: 24px;
  color: black;
  margin: 0;
  text-align: center;
}

@media (max-width: 1275px) {
  .beneficios {
    flex-direction: column;
    gap: 40px;
    padding: 40px 20px;
  }

  .beneficio {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .texto-beneficio {
    height: auto;
    display: block;
    margin-top: 10px;
  }

  .texto-beneficio p {
    text-align: center;
  }
}

.calendario {
  background-color: #000;
  padding: 100px 40px;
  text-align: center;
}

.calendario-title {
  font-family: 'Bakbak One', sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 100%;
  color: #fff;
  margin-bottom: 60px;
}

.fecha {
  background-color: #D9D9D9;
  width: 1178px;
  height: 86px;
  margin: 20px auto;
  border-radius: 183px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 60px;
  box-sizing: border-box;
}

.lugar, .dia {
  font-family: 'Bakbak One', sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: #000000;
  text-align: center;
  width: 358px;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.boton-tickets {
  margin-top: 60px;
  padding: 16px 32px;
  font-family: 'Bakbak One', sans-serif;
  font-size: 18px;
  border: none;
  border-radius: 183px;
  background-color: #D9D9D9;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.boton-tickets:hover {
  background-color: #c0c0c0;
}

@media (max-width: 1275px) {
  .calendario-title {
    font-size: 28px;
  }

  .fecha {
    width: 90%;
    flex-direction: column;
    height: auto;
    padding: 20px;
    gap: 10px;
  }

  .lugar,
  .dia {
    width: 100%;
    font-size: 18px;
    height: auto;
  }

  .boton-tickets {
    font-size: 16px;
    padding: 14px 28px;
    margin-top: 40px;
  }
}
.ultimas-novedades {
  background-color: #302D2D;
  padding: 100px 40px;
  text-align: center;
  color: #000;
}

.novedades-title {
  font-family: 'Bakbak One', sans-serif;
  font-size: 28px;
  font-weight: normal;
  color: white;
  margin-bottom: 60px;
}

.novedades-grid {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}

.novedad-card {
  width: 369px;
  height: 655px;
  background-color: #D9D9D9;
  border-radius: 72px;
  padding: 30px 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.novedad-card img {
  width: 290px;
  height: 350px;
  object-fit: cover;
  border-radius: 72px;
  margin-bottom: 20px;
}

.novedad-card,
.novedad-extra-box {
  text-decoration: none;
  color: inherit;
  transition: transform 0.3s ease;
}

.novedad-card:hover,
.novedad-extra-box:hover {
  transform: scale(1.02);
  cursor: pointer;
}

.novedad-subtitulo {
  font-family: 'Bakbak One', sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 100%;
  text-align: center;
  margin-bottom: 16px;
  color: #302D2D;
  margin-top: 10px;
  margin-bottom: 20px;
}

.novedad-descripcion {
  font-family: 'Bai Jamjuree', sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 100%;
  text-align: center;
  color: #302D2D;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0 10px;
}

.novedad-extra {
  margin-top: 80px;
  text-align: center;
}

.link-text {
  font-family: 'Bai Jamjuree', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: white;
  margin-bottom: 12px;
}

.novedad-extra-box {
  width: 369px;
  height: 190px;
  background-color: #D9D9D9;
  border-radius: 72px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 30px;
  box-sizing: border-box;
}

.novedad-extra-texto {
  text-align: right;
}

.novedad-extra-title {
  font-family: 'Bakbak One', sans-serif;
  font-size: 16px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 6px;
  color: #000;
}

.novedad-extra-descripcion {
  font-family: 'Bai Jamjuree', sans-serif;
  font-size: 14px;
  font-weight: 400;
  margin: 0;
  color: #000;
  line-height: 1.2;
}

@media (max-width: 768px) {
  .novedades-grid {
    flex-direction: column;
    align-items: center;
  }

  .novedad-card,
  .novedad-extra-box {
    width: 90%;
    height: auto;
  }

  .novedad-card img {
    width: 100%;
    height: auto;
  }

  .novedad-subtitulo,
  .novedad-descripcion {
    width: 100%;
  }

  .link-text {
    font-size: 20px;
  }
}
/* SECCIÓN CONTACTO */
.contact-section {
  position: relative;
  overflow: hidden;
  height: 810px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.video-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
}

.video-background iframe {
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}

.contact-container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.contact-title {
  font-family: 'Bakbak One', sans-serif;
  font-size: 32px;
  font-weight: 400;
  color: white;
  margin-bottom: 60px;
  display: flex;
  justify-content: center;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 60px;
  flex-wrap: wrap;
}

.social-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  text-decoration: none;
  color: white;
}

.icon-circle {
  width: 134px;
  height: 134px;
  background-color: #302D2D;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon-circle:hover {
  background-color: #444;
  transition: background-color 0.3s;
  cursor: pointer;
}

.icon-circle svg {
  width: 48px;
  height: 48px;
  fill: white;
}

.icon-text, .social-label {
  font-family: 'Bakbak One', sans-serif;
  font-size: 32px;
  font-weight: 400;
  line-height: 100%;
  text-align: center;
  color: white;
}

.qr-section {
  background-color: #000;
  padding: 200px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.qr-img {
  max-width: 200px;
  width: 100%;
  height: auto;
}

/* Footer */
.footer {
  background-color: #302D2D;
  padding: 60px 0;
  text-align: center;
}

.footer-text {
  font-family: 'Bai Jamjuree', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  color: #D9D9D9;
}